<div class="row">
  <div class="m-t-1">
    <button class="btn btn-sm btn-primary" (click)="doGET()">GET</button>
    <button class="btn btn-sm btn-primary" (click)="doPOST()">POST</button>
    <button class="btn btn-sm btn-primary" (click)="doPUT()">PUT</button>
    <button class="btn btn-sm btn-primary" (click)="doDELETE()">DELETE</button>
  </div>
</div>

<div class="row">
  <div class="m-t-1">
    <button class="btn btn-sm btn-primary" (click)="doGETAsPromise()">GET As Promise</button>
    <button class="btn btn-sm btn-primary" (click)="doGETAsPromiseError()">Error as Promise</button>
    <button class="btn btn-sm btn-primary" (click)="doGETAsObservableError()">Error as Observable</button>
  </div>
</div>

<div class="row">
  <div class="m-t-1">
    <button class="btn btn-sm btn-primary" (click)="doGETWithHeaders()">GET with Headers</button>
  </div>
</div>